#export QTDIR=/mnt/qt_5.12.4_ar9201
export QT_QPA_FONTDIR=/local/usr/lib
export QT_QWS_FONTDIR=/local/usr/lib
#export QT_QPA_FONTDIR=$QTDIR/lib/font
#export QT_QWS_FONTDIR=$QTDIR/lib/font
#export QT_QPA_PLATFORM_PLUGIN_PATH=$QTDIR/plugins/
#export LD_LIBRARY_PATH=$QTDIR/lib:/mnt/libiconv-1.16_arm/output/lib/:$LID_LIBRARY_PATH
#export QML_IMPORT_PATH=$QTDIR/qml
#export QML2_IMPORT_PATH=$QTDIR/qml
export QT_QPA_PLATFORM=linuxfb:fb=/dev/fb0:size=1920x1080:mmSize=1920x3420:offset=0x0
export QT_QPA_GENERIC_PLUGINS=evdevmouse:/dev/input/event0,evdevkeyboard:/dev/input/event1
#export QT_QPA_GENERIC_PLUGINS=evdevmouse:/dev/event1,evdevkeyboard:/dev/event2
