factory/touchfiles/

rootfs_app/artosyn_upgrade/artosyn_upgrade
rootfs_app/touchfiles/
rootfs_skel/touchfiles/

usr_app/ar_dbg_service/ar_dbg_service
usr_app/ar_dsp_alg/ar_dsp_alg
usr_app/ar_dsp_bootup/ar_dsp_bootup
usr_app/ar_dsp_rpc_svr/ar_dsp_rpc_svr
usr_app/ar_dvfs_service/ar_dvfs_service
usr_app/ar_logcat/ar_logcat
usr_app/ar_vibe/ar_vibe
usr_app/ar_wdt_service/ar_wdt_service
usr_app/boot_assist/boot_assist
usr_app/dtb/artosyn-cfg-evb-hdmi-data.dtb
usr_app/dtb/artosyn-cfg-evb-hdmi-data.dtb.dtc.tmp
usr_app/dtb/artosyn-cfg-evb-hdmi-data.dtb.dts.tmp
usr_app/dtb/artosyn-cfg-evb-hdmi-data.dtb.pre.tmp
usr_app/dtb/artosyn-cfg-smart-usb-data.dtb
usr_app/dtb/artosyn-cfg-smart-usb-data.dtb.dtc.tmp
usr_app/dtb/artosyn-cfg-smart-usb-data.dtb.dts.tmp
usr_app/dtb/artosyn-cfg-smart-usb-data.dtb.pre.tmp
usr_app/dtb/artosyn-cfg-udp-data.dtb
usr_app/dtb/artosyn-cfg-udp-data.dtb.dtc.tmp
usr_app/dtb/artosyn-cfg-udp-data.dtb.dts.tmp
usr_app/dtb/artosyn-cfg-udp-data.dtb.pre.tmp
usr_app/dump_dspmsg/dump_dspmsg
usr_app/dump_mem/dump_mem
usr_app/gpio_config/gpio_config
usr_app/icc_file_operation/icc_file_operation
usr_app/ipcam_service/ipcam_service
usr_app/ipcam_yizhong/ipcam_yizhong
usr_app/otputil/otputil
usr_app/pin_share_dump/pin_share_dump
usr_app/rtcmd/rtcmd
usr_app/snapshot_service/snapshot_service
usr_app/touchfiles/.component_build_usr_app
usr_app/touchfiles/.component_configure_usr_app
usr_app/touchfiles/.component_install_usr_app
usr_app/touchfiles/.component_last_usr_app
usr_app/touchfiles/.component_patch_usr_app
usr_app/touchfiles/.component_prepare_usr_app
usr_app/touchfiles/.staging_createtar_usr_app
usr_app/touchfiles/.staging_prepare_usr_app
usr_app/touchfiles/.staging_untar_to_global_usr_app
usr_app/uvc_service/uvc_service
usr_app/uvc_service2/uvc_service2
usr_app/uvc_service_sync/uvc_service_sync
usr_app/xvr_client_dbus/xvr_client_dbus
usr_app/xvr_service/xvr_service
usr_app/dtb/artosyn-cfg-data_udp.dtb
usr_app/dtb/artosyn-cfg-data_udp.dtb.dtc.tmp
usr_app/dtb/artosyn-cfg-data_udp.dtb.dts.tmp
usr_app/dtb/artosyn-cfg-data_udp.dtb.pre.tmp
usr_app/video_player/video_player
usr_app/aries_app/aries_app
usr_app/doraemon_app/doraemon_app

usr_data/touchfiles/.component_build_usr_data
usr_data/touchfiles/.component_configure_usr_data
usr_data/touchfiles/.component_install_usr_data
usr_data/touchfiles/.component_last_usr_data
usr_data/touchfiles/.component_patch_usr_data
usr_data/touchfiles/.component_prepare_usr_data
usr_data/touchfiles/.staging_createtar_usr_data
usr_data/touchfiles/.staging_prepare_usr_data
usr_data/touchfiles/.staging_untar_to_global_usr_data

usr_test/test_cam_src/test_cam_src
usr_test/test_crypto/test_crypto
usr_test/test_dzoom/test_dzoom
usr_test/test_framebuffer/test_framebuffer
usr_test/test_g711/test_g711
usr_test/test_g726/test_g726
usr_test/test_get_af_info/test_get_af_info
usr_test/test_hid_service/test_hid_service
usr_test/test_icc/test_icc
usr_test/test_icc_proxy_rpc_src/test_icc_proxy_rpc_src
usr_test/test_icc_proxy_sink/test_icc_proxy_sink
usr_test/test_ion/test_ion
usr_test/test_ipcam/test_ipcam
usr_test/test_mem_watch/test_mem_watch
usr_test/test_mouse_read/test_mouse_read
usr_test/test_pwm/test_pwm
usr_test/cam_raw_test/cam_raw_test
usr_test/cam_raw_test2same/cam_raw_test2same
usr_test/test_remote_i2c/test_remote_i2c
usr_test/test_rtc/test_rtc
usr_test/test_sample/test_sample
usr_test/test_send_data/test_send_data
usr_test/test_spi/test_spi
usr_test/test_spi_ms/test_spi_ms
usr_test/test_spi_seic/test_spi_seic
usr_test/obc_sl_drv/libobc_sl_drv.so
usr_test/obc_sl_drv/obc_sl_drv
usr_test/obc_sl_drv_test/obc_sl_drv_test
usr_test/test_remote_spi/test_remote_spi

usr_test/test_vcodec/test_vcodec
usr_test/touchfiles/.component_build_usr_test
usr_test/touchfiles/.component_configure_usr_test
usr_test/touchfiles/.component_install_usr_test
usr_test/touchfiles/.component_last_usr_test
usr_test/touchfiles/.component_patch_usr_test
usr_test/touchfiles/.component_prepare_usr_test
usr_test/touchfiles/.staging_createtar_usr_test
usr_test/touchfiles/.staging_prepare_usr_test
usr_test/touchfiles/.staging_untar_to_global_usr_test
media_data/touchfiles/.component_build_media_data
media_data/touchfiles/.component_configure_media_data
media_data/touchfiles/.component_install_media_data
media_data/touchfiles/.component_last_media_data
media_data/touchfiles/.component_patch_media_data
media_data/touchfiles/.component_prepare_media_data
media_data/touchfiles/.staging_createtar_media_data
media_data/touchfiles/.staging_prepare_media_data
media_data/touchfiles/.staging_untar_to_global_media_data
usr_test/test_axi_dma/test_axi_dma
usr_test/test_isp_output_format/test_isp_output_format
usr_test/test_ar_iputils/arping
usr_test/test_ar_iputils/clockdiff
usr_test/test_ar_iputils/ping
usr_test/test_ar_iputils/rarpd
usr_test/test_ar_iputils/rdisc
usr_test/test_ar_iputils/test_ar_iputils
usr_test/test_ar_iputils/tftpd
usr_test/test_ar_iputils/tracepath
usr_test/test_ar_iputils/traceroute6
usr_test/obc_tof_drv/libobc_tof_drv.so
usr_test/obc_tof_drv/obc_tof_drv
usr_test/obc_tof_dsp_icc/obc_tof_dsp_icc
usr_test/cam_raw_dsp/cam_raw_dsp
usr_test/test_upgrade_with_local_file/test_upgrade_with_local_file


